{% comment %} <div class="cart-form">
  <template v-if="cart && cart.items.length > 0">
    <div class="mini-cart-rows">
      <div class="mini-cart-item" v-for="item in cart.items">
        <div class="mini-cart-image-wapper" v-if="item.image">
            <a :href="item.url">
                <img :src="item.image" alt="item.title" width="100%" height="auto">
            </a>
        </div>
        <div class="mini-cart-item-right">
            <div>
                <a :href="item.url">${item.title}</a>
            </div>
            <div>
                ${item.price}
            </div>
        </div>
      </div>
    </div>
  </template>
  <template v-else>
    <p class="cart-empty">The cart is empty</p>
  </template>
</div> {% endcomment %}

<div class="cart-form">
    <template v-if="cart && cart.items.length > 0">
      <div class="mini-cart-rows">
        <div class="mini-cart-item" v-for="item in cart.items" :key="item.id">
          <div class="mini-cart-image-wapper" v-if="item.image">
            <a :href="item.url">
              <img :src="item.image" :alt="item.title" width="100%" height="auto">
            </a>
          </div>
          <div class="mini-cart-item-right">
            <div>
              <a :href="item.url">${item.title}</a>
            </div>
            <div>
              ${item.price}
            </div>
            <div class="mini-cart-quantity">
              <button class="mini-cart-quantity-button button1">-</button>
              <input type="text" name="" id="" v-model='item.quantity'>
              <button class="mini-cart-quantity-button button2">+</button>
            </div>
          </div>
        </div>
      </div>
    </template>
    <template v-else>
      <p class="cart-empty">The cart is empty</p>
    </template>
  </div>