<div class="container">
  <div class="collection">
    <h1 class="collection-title">{{ collection.title }}</h1>
    <div class="collection-list flex space-between">
      {% for product in collection.products %}
        {% render 'product-card', product: product %}
      {% endfor %}
    </div>
  </div>
</div>
